<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>11-8加载动画.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B67ECC131DD1A41900A62802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B67ECC271DD1A41A00A62802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B67ECC321DD1A41A00A62802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
